.contactpage{
    width:650px;
    margin:50px auto;
    text-align: center;

    form{
        width:450px;
        margin:0 auto;
    }
    .description{
        letter-spacing:0.3px;
    }
    .submitButton{
        width:165px;
        margin:0 auto;
    }
}


